body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #3d5063;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border: 0px solid transparent;
  border-radius: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 47%;
}

.building-item {
  background: #3d5063;
  color: '#fff';
}

.building-item:hover {
  background: #fff;
  color: #3d5063;
}

.building-item>div {
  display: inline-block;
  max-width: 200px;
  height: 100px;
  margin-right: 2.5%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5%;
}

.building-img {
  display: inline-block;
  width: 150px;
  height: 100px;
  margin-left: 2%;
  margin-bottom: 2%;
}

.btn-action {
  margin-top: 9%;
}

.building-item:first-child {
  margin-top: 3%;
}

.table-header-item {
  display: inline-block;
  margin-top: 2%;
  max-width: 200px;
  height: 50px;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

.table-header-item:first-child {
  margin-left: 2%;
} 

.box {
  width: 300px;
  margin: 20px auto;
  background: #3d5063;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: arial;
  position: relative;
  display: none;
}

.sb4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #3d5063;
  border-top: 10px solid #3d5063;
  border-bottom: 10px solid transparent;
  right: 50px;
  bottom: -19px;
}

.header-title {
  display: inline-block;
  margin-left: 5.5%;
}

.header {
  background: #3d5063;
  color: #fff;
}

.main-btn {
  margin-top: 2%;
}

.footer {
  background: #3d5063;
  font-size: 24px;
  text-align: left;
}

.footer>div>a {
  color: #fff;
  text-decoration: none;
  margin: 3.5% 0 3.5% 5.5%;
  display: inline-block;
}

.footer>div>a:hover {
  color: rgb(255, 240, 25);
}

.btn-primary {
  background: gold;
  border: 1px solid gold;
}

.btn-primary:hover {
  background: #E3BF06;
  border: 1px solid #E3BF06;
}

.btn-primary:focus {
  background: #E3BF06;
  border: 1px solid #E3BF06;
  box-shadow: 0 0 0 0.25rem rgba(255, 242, 0, 0.50)
}

.btn-add {
  background: #12BB12;
  border: 1px solid #12BB12;
}

.btn-add:hover {
  background: #11A611;
  border: 1px solid #11A611;
}

.btn-add:focus {
  background: #10C810;
  border: 1px solid #10C810;
  box-shadow: 0 0 0 0.25rem rgba(29, 217, 17, 0.50)
}

.btn-del-all {
  margin-left: 1.8%!important;
}

.btn-del-all-confirm {
  margin-left: 50% !important;
  margin-top: 10% !important;
}

.btn-del-all-deny {
  margin-left: 5% !important;
  margin-top: 10% !important;
}

.footer-title {
  display: inline-block;
}

.add-form {
  background: gold;
  width: 500px;
  height: 500px;
  border: 0px solid transparent;
  border-radius: 5%;
  overflow: auto;
}

.add-form>label {
  color: #3d5063;
  display: block;
  margin-left: 15%;
  padding-top: 10%;
  width: 75px;
}

.add-form>label>input {
  border: 1px solid transparent;
  border-radius: 1%;
  width: 250px;
  padding-top: 6%;
}

.update-form {
  background: #4CAF50;
  width: 500px;
  height: 500px;
  border: 0px solid transparent;
  border-radius: 5%;
  overflow: auto;
}

.update-form>label {
  color: #fff;
  display: block;
  margin-left: 15%;
  padding-top: 10%;
  width: 75px;
}

.update-form>label>input {
  border: 1px solid transparent;
  border-radius: 1%;
  width: 250px;
  padding-top: 6%;
}

.btn-add-form {
  margin-left: 70%;
  margin-top: 5%;
  width: 100px;
}

.blurred {
  filter: blur(2px);
}

.alert-danger {
  width: 90%;
  display: block;
}

.form-add-btn {
  margin-left: 70%!important;
  margin-top: 5%!important;
}

.description {
  max-width: 20%;
  max-width: 50%;
  margin-top: 2%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.buildings-title {
  font-size: 60px;
  text-decoration: none;
  color: #fff;
}

.title-screen {
  text-align: center;
}

.buildings-title:hover {
  color:gold;
}

h1 {
  color: #00bfb6;
  margin-left: 17%;
}

.building-actions {
  margin-left: 7%!important;
  width: 135px!important;
  padding-top: 20px!important;
  height: 60%!important;
  position: absolute!important;
}

.footer-links {
  display: contents;
}

/* Medium desktop screen */
@media only screen and (max-width: 2000px) and (min-width: 1501px) {
  .header {
     margin-top: 1%;
  }

  .table-header-item {
    margin-left: 3%;
    margin-right: 3%;
  }

  .building-actions {
    padding-top: 15px!important;
  }

  .building-item>div {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 3%;
  }

  .building-item>div:first-child {
    margin-left: 2%;
  }

  .building-item:first-child {
    margin-top: 1%;
  }

  .building-img {
    margin-left: 4.5%;
    margin-right: 2%;
  }

  .user-avatar {
    margin-left: 60%;
  }

  .footer-title {
    margin-left: 42%;
  }
}

/* Large desktop screen */
@media only screen and (min-width: 2001px) {
  .header {
     margin-top: 1%;
  }

  .building-actions {
    padding-top: 15px!important;
  }

  .table-header-item {
    margin-left: 4%;
    margin-right: 4%;
  }

  .building-item>div {
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 2%;
  }

  .building-item>div:first-child {
    margin-left: 2%;
  }

  .building-item:first-child {
    margin-top: 1%;
  }

  .building-img {
    margin-left: 5%;
    margin-right: 3.5%;
  }

  .user-avatar {
    margin-left: 65%;
  }

  .footer-title {
    margin-left: 50%;
  }
}

/* Laptop screen */
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .building-item>div:first-child {
    padding-left: 2%;
  }
}

/* Mobile screen */
@media only screen and (max-width: 999px) {
  .mobile-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    width: max-content;
  }

  .building-item>div {
    text-align: left;
    padding-top: 2%;
    width: 6%;
    overflow: unset;
  }

  .building-item>div:first-child {
    padding-left: 2%;
  }

  .mobile-hide {
    display: none;
  }

  .user-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }

  .header-title {
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .mobile-actions {
    margin-right: 10%!important;
    margin-bottom: 0!important;
    margin-left: 10%!important;
    padding-top: 5%!important;
  }

  .footer-links {
    display: block;
    text-align: center;
  }

  .footer-links>a {
    padding-right: 15%;
    padding-left: 7%;
  }

  .footer-title {
    display: none;
  }
}
